*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
#rate {
    float: left;
    height: 45px;
    padding: 0 10px;
}
#rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
#rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:40px;
    color:#ccc;
}
#rate:not(:checked) > label:before {
    content: '★ ';
}
#rate > input:checked ~ label {
    color: #ff0000;    
}
#rate:not(:checked) > label:hover,
#rate:not(:checked) > label:hover ~ label {
    color: #ff0000;  
}
#rate > input:checked + label:hover,
#rate > input:checked + label:hover ~ label,
#rate > input:checked ~ label:hover,
#rate > input:checked ~ label:hover ~ label,
#rate > label:hover ~ input:checked ~ label {
    color: #a41b02;
}

#gameinfo {
    min-height: 350px;
    height: 100%; width: 100%
}

.tdcontent {
    height: 100%;
}

.content {
    overflow: auto;
}

#stars{
    width: 100%;
}