.ms-6 {
    margin-left: 18rem;
}

.tamanyoMaxDesc {
    max-width: 84%;
}

.carousel-text {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.tamanyoLetra {
    font-size: 0.5 vw;
}

.rounded-circle {
    min-width:150px;
    min-height:150px;
}

.profile {
    min-width: 300px;
}

.col-md-2 {
    min-width: 350px;
}

.pad0 {
    padding-top: 2px;
}

.pad1 {
    padding-top: 0px;
    font-size: 24px;
}

.pad2 {
    padding-right: 10rem;
}

.pad3 {
    padding-left: 10rem;
}

.columna1 {
    margin-bottom: 100px;
}

#online {
    background-color: rgb(4, 196, 4);
}

#offline {
    background-color: red;
}

#online, #offline {
    display: inline-block;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin: 10px;
    vertical-align: bottom;
}

#divOnline {
    color: rgb(4, 196, 4);
}

#divOffline {
    color: red;
}

#divOnline, #divOffline {
    font-size: large;
    margin: 10px;
    padding-right: 18px;
    text-align: center;
}

@media only screen and (max-width: 1800px) {
    .pad3 {
        padding-left: 5rem;
    }
}

@media only screen and (max-width: 1400px) {
    .pad3 {
        padding-left: 0rem;
    }
}

@media only screen and (max-width: 1185px) {
    .padperfil {
        padding-left: 4rem;
    }

    .pad3 {
        padding-left: 10rem;
    }
    
    .textito {
        font-size: 13px;
    }

    .profile {
        min-width: 390px;
    }    

    .backprofile {
        min-width: 390px;
    }

    .ttexte {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1150px) {
    .padperfil {
        padding-left: 3.5rem;
    }
}

@media only screen and (max-width: 1100px) {
    .padperfil {
        padding-left: 3rem;
    }
}

@media only screen and (max-width: 1050px) {
    .padperfil {
        padding-left: 2rem;
    }
}

@media only screen and (max-width: 1000px) {
    .padperfil {
        padding-left: 0.75rem;
    }
}