.logo{
    width: 327px;
    height: 202px;
}


.table,td,tr {
    /*text-align: center;*/
    align-items: flex-start;
}

.todo{
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    display: grid;
    place-items: center;
}



