.logo{
    width: 262px;
    height: 162px;
}


.todo{
    
   position: relative;
}

.table{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
}

.table,td {
    border: 1px solid black;
    
}




