.logo{
    width: 262px;
    height: 162px;
}






.table,td {
    text-align: center;
}

.todo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    place-items: center;
}



