.panelChat {
    width: 78%;
    align-content: center;
    float: left;
    margin: 5px;
}

.ocultar {
    display: none;
}

.mostrar {
    display: block;
}

small{
    font-size: xx-small;
    text-align: right;
}
 
p{
    margin: 10px;
    text-align: justify;
}

*::-webkit-scrollbar {
    width: 12px;

}

*::-webkit-scrollbar-track {
    background: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 3px solid #ffc93c;
}

.divNameUser {
    display: flex;
}

#online {
    background-color: rgb(4, 196, 4);
}

#offline {
    background-color: red;
}

#online, #offline {
    display: inline-block;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin: 10px;
    vertical-align: bottom;
}

#divOnline {
    color: rgb(4, 196, 4);
}

#divOffline {
    color: red;
}

#divOnline, #divOffline {
    margin: 10px;
}

#labelNameUser{
    display: inline-block;
    color: black;
}

#imagenUser{
    display: inline-block;
}

#chat3 {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

a {
    text-decoration: none;
}

.botonTransparente, .botonTransparente2 {
    background-color: transparent;
    border-color: transparent;
}

.botonTransparente2 {
    color: #0d6efd;
	padding: 10px;
}

.botonNaranja {
    background-color: #ffffff;
    border-color: transparent;
    border-radius: 20px;
}

.mensajeActualizadoOtro  {
    background-color: #ffffff;
    margin-left: 10px;
}

.mensajeActualizadoMio {
    background-color: #d9fdd3;
    max-width: 70%;
}

.mensajeActualizadoMio, .mensajeActualizadoOtro {
    margin-bottom: 5px;
    border-radius: 5px;
}

.emogiIcon {
    margin-left: 5px;
}

.clipIcon {
    margin-left: 10px;
}

.sendIcon, .emogiIcon, .clipIcon, .searchIcon {
    color: #0d6efd;
    background-color: transparent;
}

.input3 { 
	width: 50%; 
    height: 30px;
	margin-top: 7px; 
}

.input2 { 
	width: 100%; 
    height: 30px;
	margin-top: 5px; 
}

.input2, .input3 {
	background: white; 
	border: 1px solid rgb(135, 132, 132);
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: black;
	/* text-shadow: 1px 1px 1px rgba(0,0,0,0.3); */
	/* border: 1px solid rgba(0,0,0,0.3); */
	border-radius: 4px;
	/* box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2); */
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

.input3:focus, .input2:focus  { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.searchIcon {
	padding: 10px;
    margin-bottom: 10px;
}

.h3NameUser, .divObjectsSend{
    display: flex;
    align-items: center;
}

.panelChatMensajes, .panelChatUsers {
    border: 1px solid rgb(201, 192, 192);
    border-radius: 10px;
    background: #f0eeee !important;
}

.panelChatUsers {
    margin-top: -17px;
}

@media only screen and (max-height: 400px) {
    .my-custom-scrollbar {
        position: relative;
        min-height: 100px;
        max-height: 100px;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
}

@media only screen and (min-height: 401px) {
    .my-custom-scrollbar {
        position: relative;
        min-height: 200px;
        max-height: 200px;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
    
}

@media only screen and (min-height: 501px) {
    .my-custom-scrollbar {
        position: relative;
        min-height: 250px;
        max-height: 250px;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
}

@media only screen and (min-height: 601px) {
    .my-custom-scrollbar {
        position: relative;
        min-height: 350px;
        max-height: 350px;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
    
}

@media only screen and (min-height: 701px) {
    .my-custom-scrollbar {
        position: relative;
        min-height: 450px;
        max-height: 450px;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
}

@media only screen and (min-height: 801px) {
    .my-custom-scrollbar {
        position: relative;
        min-height: 550px;
        max-height: 550px;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
    
}

@media only screen and (min-height: 901px) {
    .my-custom-scrollbar {
        position: relative;
        min-height: 650px;
        max-height: 650px;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
    
}